.logo{
    background-image: url("/assets/img/brand/dimo.png");
    background-size: 50px 70px;
    width: 50px;
    height: 70px;
    background-repeat: no-repeat;
    margin: auto;
}

.searchBar {
  width: 90%;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	/* background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center; */
	border: solid 4px #ccc;
	padding: 9px 10px 9px 32px;
	width: 200px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 400px;
	background-color: #fff;
	border-color: #f8442f;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.genre-list {
    padding: 15px 40px;
}

.genre-title {
    padding: 28px 40px;
    margin: 0;
}

.genre {
    border-radius: 0.375rem;
    background-color: #fff;
    margin-top: 40px;
    padding-bottom: 28px;
}

.movies-list {
    margin: 0;
}

.movie {
    text-align: center;
}

.movie>div{
    cursor: pointer;
}

.movie-image {
    width: 265px;
    height: 346px;
}

.movie-title {
    margin: 5px 0 10px 0;
}
