<div class="header bg-gradient-danger py-7 py-lg-6">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <!-- <h1 class="text-white">DiMo</h1> -->
          <div class="logo"></div>
          <!-- <img src="/assets/img/brand/dimo.png" alt=""> -->
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<!-- Page content -->
<div class="container mt--8 pb-5" id="login-signup-form-container">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a (click)="selectTab('signup')" href="javascript:void()" class="nav-link" id="pills-signup-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">Sign Up</a>
          </li>
          <li class="nav-item">
            <a (click)="selectTab('login')" href="javascript:void()" class="nav-link active" id="pills-login-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">Login</a>
          </li>
        </ul>

        <div id="signuptab" class="card-body px-lg-5 py-lg-5" style="display: none;">
          <form role="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>

                </div>
                <input class="form-control" formControlName="firstName" placeholder="First name" type="text" [ngClass]="{ 'is-invalid': submitted && user.firstName.errors }" />
                <div *ngIf="submitted && user.firstName.errors" class="invalid-feedback">
                  <div *ngIf="user.firstName.errors.required">First name is required</div>
                  <div *ngIf="user.firstName.errors.minlength">
                    First name must be at least 2 characters long.
                  </div>
                  <div *ngIf="user.firstName.errors.maxlength">
                    First name cannot be more than 50 characters long.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input class="form-control" formControlName="lastName" placeholder="Last name" type="text" [ngClass]="{ 'is-invalid': submitted && user.lastName.errors }" />
                <div *ngIf="submitted && user.lastName.errors" class="invalid-feedback">
                  <div *ngIf="user.lastName.errors.required">Last name is required</div>
                  <div *ngIf="user.lastName.errors.minlength">
                    Last name must be at least 2 characters long.
                  </div>
                  <div *ngIf="user.firstName.errors.maxlength">
                    Last name cannot be more than 50 characters long.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && user.email.errors }" />
                <div *ngIf="submitted && user.email.errors" class="invalid-feedback">
                  <div *ngIf="user.email.errors.required">Email is required</div>
                  <div *ngIf="user.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && user.password.errors }" />
                <div *ngIf="submitted && user.password.errors" class="invalid-feedback">
                  <div *ngIf="user.password.errors.required">Password is required</div>
                  <div *ngIf="user.password.errors.minlength">Password must be at least 8 characters</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input type="password" formControlName="confirmPassword" placeholder="Confirm password" class="form-control" [ngClass]="{ 'is-invalid': submitted && user.confirmPassword.errors }" />
                <div *ngIf="submitted && user.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="user.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary mt-4">Sign up</button>
            </div>
          </form>
        </div>

        <div id="logintab" class="card-body px-lg-5 py-lg-5">
          <form role="form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && user.email.errors }" />
                <div *ngIf="submitted && user.email.errors" class="invalid-feedback">
                  <div *ngIf="user.email.errors.required">Email is required</div>
                  <div *ngIf="user.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && user.password.errors }" />
                <div *ngIf="submitted && user.password.errors" class="invalid-feedback">
                  <div *ngIf="user.password.errors.required">Password is required</div>
                  <div *ngIf="user.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary mt-4">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <footer class="footer">
        <div class="row align-items-center justify-content-center">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-center text-muted">
              &copy; {{ test | date: "yyyy" }} Dapper Drakes
            </div>
          </div>
        </div>
      <!-- <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; {{ test | date: "yyyy" }} Dapper Drakes
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation?ref=ada-footer-admin-layout" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div>
      </div> -->
    </footer>
</div>
