#pills-tab {
    margin-bottom: 0 !important;
}

#pills-tab a{
    box-shadow: none;
}

#pills-tab li{
    padding-right: 0;
    width: 50%;
    text-align: center;
}

#pills-signup-tab {
    border-radius: 0.375rem 0 0 0;
}

#pills-login-tab {
    border-radius: 0 0.375rem 0 0;
}

.logo{
    background-image: url("/assets/img/brand/dimo.png");
    background-size: 106px 158px;
    width: 106px;
    height: 158px;
    background-repeat: no-repeat;
    margin: auto;
}

footer {
    background-color: #172b4d !important;
}
